<!-- DIVIDER COMP -->

<app-divider>
  <!-- Spazio per ngcontent -->
  Placeholder Component
</app-divider>

<!--  PLACEHOLDER COMP -->
<app-placeholder></app-placeholder>

<app-divider>
  Segment Component
</app-divider>
<app-segment>
<!--  <header>
    <i class="pdf file outline icon"></i>
    NO document are listed for this customer.
  </header>-->

  <button class="ui primary button">
    Add document
  </button>
</app-segment>

<!--<app-segment>
  <header>
    <i class="add icon"></i>
    Add a resource
  </header>

  <button class="ui primary button">
    Click to Add
  </button>
</app-segment>-->
